{% extends 'blog/base_post.html' %}
{% block content %}

{% include 'blog/sidenav.html' %}

<div class="main">
	<header class="text-white text-center">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 mx-auto">
					<h1 class="mb-5 mt-5">{{ post.title }}</h1>
				</div>
			</div>
		</div>
	</header>
	<section class="text-center mt-4">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 mx-auto text-lg-left">
					{{ post.text|safe }}
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}